astropy >= 3.0.3
inquirer
matplotlib >= 2.1.2
numpy >= 1.17.0
poliastro >= 0.9.1
py >= 1.5.2
pytest >= 3.4.0
requests
scipy >= 1.0.0
sgp4 >= 1.4
vpython
https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-1.0.12.tar.gz
